header#titre >h1{
    text-align: center;
}

div.col1{
    background-color: rgb(21, 89, 216);
}

div.col2{
    background-color: rgb(255, 255, 255);
}

div.col3{
    background-color: rgb(255, 5, 5);
}

div.ligne1{
    border: 5px solid rgb(255, 255, 255);
}

div.ligne2{
    border: 5px solid rgb(255, 255, 255);
}

div.ligne3{
    border: 5px solid rgb(253, 251, 251);
}

